/* REGOLE GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #009688 13%, #D8DBD5 13%);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.padding {
  padding: 0 20px;
}

.flex-generale {
  width: 70%;
  margin: 2.5vh auto;
  background-color: white;
  height: 95vh;
  box-shadow: 0px 0px 4px #888;
  display: flex;
}
/* SideBar left */
.sidebar {
  width: 30%;
  height: 100%;
}

.bar-menu {
  height: 7%;
  width: 100%;
  background-color: #EDEDED;
}

/* Border "header" */
.border {
  border-left: 1px solid lightgrey;
}

.icons-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:  100%;
}

.status-icons i,.footer-section i {
  padding: 0 15px;
  font-size: 20px;
  color: grey;
}

.notifications {
  background-color: #9DE1FE;
  height: 11%;
  display: flex;
  align-items: center;
}

.searchBar {
  background-color: #F6F6F6;
  height: 6%;
  display: flex;
  align-items: center;
  position: relative;
}

#lent {
  position: absolute;
  color: grey;
  font-size: 18px;
  left: 30px;
}

#inputSearch {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  border:none;
  color: Grey;
  font-size: 15px;
  outline: none;
  padding: 0 40px
}

.groupChat {
  background-color: white;
}

#circle {
  font-size: 22px;
}

#user-img {
  border-radius: 50%;
  height: 40px;
  width: auto;
}

#bell {
  color: #9DE1FE;
  background-color: white;
  padding: 13px 11px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 20px;
}

.text-notifications >a{
  font-size: 13px;
  margin-right: 5px;
}
/* right menu */

.right-menu {
  width: 70%;
  height: 100%;
}

.chat-section {
  background-image: url("../img/sfondo-chat.png");
  background-size: contain;
  height: 86%;
}

.footer-section {
  display: flex;
  align-items: center;
  height: 100%;
}

#msg-input {
  width: 85%;
  height: 70%;
  border-radius: 20px;
  border:none;
  color: Grey;
  font-size: 15px;
  outline: none;
  padding: 0 40px
}
