/* REGOLE GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #009688 13%, #D8DBD5 13%);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.padding {
  padding: 0 20px;
}

.flex-generale {
  width: 70%;
  margin: 2.5vh auto;
  background-color: white;
  height: 95vh;
  box-shadow: 0px 0px 4px #888;
  display: flex;
}

/* SideBar left */
.sidebar {
  width: 30%;
  height: 100%;
}

.bar-menu {
  height: 7%;
  width: 100%;
  background-color: #EDEDED;
}

/* Border "header" */
.border {
  border-left: 1px solid lightgrey;
}
/* SECTION USER */
.icons-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:  100%;
}

.status-icons i,.footer-section i, .font-title i {
  padding: 0 15px;
  font-size: 20px;
  color: grey;
}

#circle {
  font-size: 22px;
}
/* SECTION NOTIFICATIONS */
.notifications {
  background-color: #9DE1FE;
  height: 11%;
  display: flex;
  align-items: center;
}

#bell {
  color: #9DE1FE;
  background-color: white;
  padding: 13px 11px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 20px;
}

.text-notifications >a{
  font-size: 13px;
  margin-right: 5px;
}
/* SECTION SEARCH BAR */
.searchBar {
  background-color: #F6F6F6;
  height: 6%;
  display: flex;
  align-items: center;
  position: relative;
}

#lent {
  position: absolute;
  color: grey;
  font-size: 18px;
  left: 30px;
}

#inputSearch {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  border:none;
  color: Grey;
  font-size: 15px;
  outline: none;
  padding: 0 40px
}
/* SECTIO CONTACTS */
.groupChat {
  background-color: white;
  overflow: auto;
  max-height: 76%;
}

.groupChat li {
  list-style-type: none;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  transition: 0.2s;
}

.groupChat li:hover {
  background-color: #EDEDED;
}

.last-info  {
  font-size: 13px;
  color: grey;
}

.info {
  flex-grow: 1;
}

.user-img,img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}


/* MENU COVER */

.coverChat {
  text-align: center;
  width:60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 100;
}

.coverChat a {
  color: #4ACD7C;
}

.coverChat p{
  font-size: 15px;
  color: grey;
  margin: 30px 0;
}


.img-cover {
  height: 45%;
  width: 41%;
  margin: 30px 0;
}
/* right menu */

.flex-contact {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.font-title {
  height: 100%;
  display: flex;
  align-items: center;
}

.title-contact {
  display: flex;
  align-items: center;
  height: 100%;
}

.title-contact p{
  margin-left:  30px;
  font-size: 18px;
}


/* CHAT SECTION */
.right-menu {
  width: 70%;
  height: 100%;
}

.chat-section {
  background-image: url("../img/sfondo-chat.png");
  background-size: contain;
  height: 86%;
  padding: 20px 0;
  overflow: auto;
}

.chatting {
  list-style-type: none;
  margin: 20px 20px;
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 2px #888;
  position: relative;
}

.drop-delete p:last-child{
  margin: 10px 0;
  cursor: pointer;
}

.drop-delete {
  position: absolute;
  background-color: white;
  right: 0px;
  top:80%;
  width: 160px;
  z-index: 50;
  padding: 15px 25px;
  display: none;
}

.chatting:hover .drop-delete{
  display: block;
}


.sent {
  background-color: #DCF8C6;
  float: right;
  clear: both;
}

.received {
  background-color: white;
  clear: both;
  float: left;
  max-width: 50%;
}

.text-msg {
  font-size: 15px;
}

.hours-msg {
  padding-left: 40px;
  font-size: 11px;
  color: grey;
  position: relative;
  top: 8px;
}

/* "FOOTER" SECTION */
.footer-section {
  display: flex;
  align-items: center;
  height: 100%;
}

#msg-input {
  width: 85%;
  height: 70%;
  border-radius: 20px;
  border: none;
  color: Grey;
  font-size: 15px;
  outline: none;
  padding: 0 40px
}
